* {
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  position: relative;
  z-index: 1;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  padding: 10px;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}
